landing:
  loginUrl: http://{{ .Values | get "host" "localhost" }}/cityos/

ingress:
  hosts:
    - host: {{ .Values | get "host" "localhost" }}
      paths:
        - path: /landing/
          pathType: Prefix