cityos:
  auth:
    issuerUrl: http://{{ .Values | get "host" "localhost" }}/cityos-auth/realms/citydashboard

endpoints:
  traffic: http://{{ .Values | get "host" "localhost" }}/traffic/api
  grafana: http://{{ .Values | get "host" "localhost" }}/grafana

ingress:
  enabled: true
  hosts:
    - host: {{ .Values | get "host" "localhost" }}
      paths:
        - pathType: Prefix

keycloak:
  ingress:
    hostname: {{ .Values | get "host" "localhost" }}
    path: "/cityos-auth"