cityos:
  auth:
    issuerUrl: http://{{ requiredEnv "HOSTNAME" }}/cityos-auth/realms/citydashboard

endpoints:
  traffic: http://{{ requiredEnv "HOSTNAME" }}/traffic/api
  grafana: http://{{ requiredEnv "HOSTNAME" }}/grafana

ingress:
  enabled: true
  hosts:
    - host: {{ requiredEnv "HOSTNAME" }}
      paths:
        - pathType: Prefix

keycloak:
  ingress:
    hostname: {{ requiredEnv "HOSTNAME" }}
    path: "/cityos-auth"