ingress:
  enabled: true
  hosts:
    - host: {{ .Values | get "host" "localhost" }}
      paths:
        - path: /cityos
          pathType: Prefix

frontend:
  api:
    baseUrl: http://{{ .Values | get "host" "localhost" }}/cityos-cityos-api/
  auth:
    authority: http://{{ .Values | get "host" "localhost" }}/cityos-auth/realms/citydashboard
    clientId: citydashboard